:root {
	--accent-color: #2196f3;
	--title-color: #212121;
	--text-color: #757575;
	--logo-color: #000000;
	--contacts-color: rgba(255, 255, 255, 0.6);
	--first-light-color: #ffffff;
	--second-light-color: #f5f4fa;
	--third-light-color: #e5e5e5;
	/* можна менше, фони не додаємо */
}

body {
	font-family: "Roboto", sans-serif;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
.header {
	background-color: #ffffff;
}
.header-link,
.header-contact {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.header-link {
	color: #212121;
}
.header-contact {
	color: #757575;
}

.header-link.current {
	color: #2196f3;
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
	color: #2196f3;
}
.button {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	color: #ffffff;

	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

/* .logo { 
	color: #2196F3
}*/

/* .section-title {color: #212121;} */
